<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoMapper" version="5.2.0" targetFramework="net45" />
  <package id="CommonServiceLocator" version="1.3" targetFramework="net45" />
  <package id="Dapper" version="1.50.2" targetFramework="net45" />
  <package id="Dapper.SimpleCRUD" version="1.13.0" targetFramework="net45" />
  <package id="Dapper.SimpleCRUD.ModelGenerator" version="1.0.3" targetFramework="net45" />
  <package id="MySql.Data" version="6.9.9" targetFramework="net45" />
  <package id="Unity" version="4.0.1" targetFramework="net45" />
</packages>